body {
    background-color: rgb(226, 171, 222);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article,
 footer{
     background-color: rgb(167, 214, 233);

}

article {
    padding:0  10px;
    border-radius: 20px;
      
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    

}

a{
    text-decoration: none;
    color: rgb(100, 106, 197);

}

a:hover{
  text-decoration: underline;

}

footer {
    margin-block-start: 5px;
    border-radius: 50px;
}